*{
    color: #2B2B2B;
    
}

.flex{
display: flex;
}

.gold{
   color: #C4963C; 
}
/* header */

.header{
    justify-content: space-evenly;
    background: linear-gradient(90deg, #0076C0 0%, #01136B 100.7%);
color:white;
align-items: center;
}

.header > h1{
    font-size: 23px;
    color: #FFEC86;
}
.header > h1 > span{
    font-weight: 600;
    color: white;
}

.plus-header{
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.plus-header  h2,.how-to-use h3{
font-size: 40px;
}

.plus-header  h2 > span{
    color: #3B3B3B;
}

.plus-header-right{
    width: 50%;
    justify-content: space-evenly;
    color:#141414;
}

.plus-header-right > :last-child, .saving-button > p:first-child{
    color:white;
    background: #9D002B;
    border-radius: 20px; 
    text-align: center;
    padding: 8px 30px;
    margin-top: 10px;
}

/* ----------ad box----------- */

.ad-box{
    /* width: 980px; */
    /* height: 1204px; */
    background: linear-gradient(180deg, rgba(255, 238, 204, 0) 2.59%, rgba(255, 238, 204, 0.6) 32.16%);
    border:0.5px solid rgba(255, 238, 204, 0.6);
  justify-content: space-evenly;
  padding-bottom: 50px;
  padding: 40px;
}

.extra-gold-ad-box{
    margin: 30px;
}

.extra-gold-ad-box > :first-child{
    font-size: 35px;
    font-weight: 600;
    line-height: 0px;
   
}

.trust-tab{
    background: white;
    border-radius: 20px; 
    text-align: center;
    padding: 8px 30px;
    margin-top: 10px;
    margin-left: 15px;
    border: 0.5px solid #BAA1FF;
}

.extra-gold-ad-box > .gold{
    font-size: 92px;
    font-weight: 700;
    line-height: 0px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.extra-gold-ad-box > :nth-child(3){
font-size: 23px;
}

.company-logos{
    gap: 10px;
align-items: center;
justify-content: space-evenly;
width: 70%;
}

.company-logos > img{
    width: 60px;
    height: 25px;
}

.sonali-img {
    position: relative;
    width: fit-content;
    height: fit-content;
  }
  
  .sonali-img .design {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  
  .sonali-img .sonali {
    position: relative;
    z-index: 2;
  }

.pentagon {
    width: 230px;
    height: 230px;
    background: linear-gradient(317.19deg, #DEA84E 8.88%, #FFD77F 53.99%, #FFF1A8 99.1%);
    clip-path: polygon(50% 95%, 18% 77%, 18% 0%, 87% 0%, 87% 78%);
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pentagon > .pentagon {
    width: 210px;
    height: 210px;
    background-image: url('./Images/mother_daughter.png');
    background-position: center;
} 

.pentagon-ad{
    width: 60%;
    padding: 5%;
    border: 1px solid #B7B7B7;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    margin:-125px auto 40px;
    background-color: white;
}

.buy-gold-wrap >h3{
    font-size: 35px;
   margin-left: 20px;
   margin-bottom: 10px;
}

.buy-gold-wrap > :nth-child(2){
font-size: 25px;
font-weight: 600;
margin-top: 0px;
margin-bottom: 10px;
}

.buy-gold-wrap > :nth-child(3){
    font-size: 16px;
    width: 430px;
}

/* -----------way through app--------- */

.how-to-use {
text-align: center;
}

.how-to-use>p{
    font-size: 18px;  
}

.way-through-app{
    gap:20px;
    width: 80%;
    margin: auto;
    background-color: #FFFAF1;
    border: 1px solid #FFE4B3;
    border-radius: 16px;
    justify-content: space-evenly;
    padding: 30px;
}

.way-through-app > div{
    width: 30%;
}

.way-through-app > div > div > img{
max-width: 100%;
}
